@import url("https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,800;1,700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* variables */
$background: #cccccc;
$ligther: #383838;
$font-main: #ffffff;
$span-logo: #75aadb;
$span-logo-ligth: #7994ad;

.body {
	background: $background;
	font-family: "Open Sans", serif;
	display: flex;
	flex-direction: column;
	height: 100vh;	
}


/* header */
header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: $ligther;
	padding: 0 0 1% 0;

	.titleLogo {
		font-size: 2.5em;
		transform: scale(0.9);
		text-shadow: 2px 2px #000;
		font-family: "Sigmar One", cursive;

		&:hover {
			transform: scale(1);
			transition: 0.4s ease;
		}

		a {
			color: $font-main;
			text-decoration: none;
		}

		span {
			color: $span-logo;
		}
	}

	.navigation {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 55%;
		
	
		.navList {
			display: flex;
			align-items: center;
			justify-content: center;
			list-style: none;
			width: 100%;
	
			ul {
				display: flex;
				justify-content: space-around;
				align-items: center;
				width: 100%;
				height: 100%;
				list-style: none;
				margin: 0;
				padding: 0;
	
				li a {
					text-decoration: none;
					color: $font-main;
					font-size: 1em;
					height: 100%;
					display: flex;
					align-items: center;
					padding: 5px 10px;
					border-radius: 3px 3px 0 0;
					position: relative;
	
					&:hover {
						background-color: #535353;
						transform: scale(1.1);
						transition: ease all 0.2s;
					}
				}
			}
	
			ul:first-child{
				width: 60%;
				border-right: solid 1px $font-main;
			}
	
			ul:last-child {
				width: 40%;
				
			}
			
			.sesionList {
				a {
					background-color: #535353;
				}
	
				.inicioSesion {
					background: none;
	
					&:hover	{
						background-color: #535353;
					}
				}
			}	
		}
	}
}

/* Contenido pagina */
.contenidoContainer {
		width: 85%;
		margin: auto;
		box-shadow: 0px 0px 30px 10px $ligther;
}
	
/* carrusel */
.carouselContainer {
	img {
		height: calc(100vh - 100.81px);
	}

	.imgDesc {
		position: absolute;
		color: $font-main;
		top: 30px;
		left: 40px;
	}
}

/* seccion pupulares */
.galleryPopulares {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;

	.titlePop {
		width: 100%;
		text-align: center;
		margin: 30px 0;
	
		h3 {
			font-size: 2em;
		}
	}

	.cardsPop {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 100%;
		height: calc(100vh - 120px);
		gap: 15px;
	}
	
	.cardsImg {
		height: 40%;
		width: 30%;
		align-items: center;
		position: relative;
		
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 3px;
		}

		.descImg {
			position: absolute;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.527);
			top: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			transform: scale(0);
			transition: ease-in-out .3s;
			border-radius: 3px;
			cursor: pointer;

			p {
				font-weight: 500;
				font-size: 1.2em;
				color: #ffffff;
				width: 40%;
				text-align: center;
			}
		}

		&:hover .descImg {
			transform: scale(1);
		}
	}

	.textGallery {
		display: block;
		text-align: center;

		.p1 {
			margin-top: 10px;
			margin-bottom: 0;
		}
		
		.p2 {
			margin-top: 5px;
			font-size: .7em;
			margin-bottom: 2.1em;
		}
	}
}

/* Formulario y contacto */
.form_contactContainer {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 16px;

	.formNewsletter{
		padding-bottom: 20px;
		width: 70%;
		display: flex;
		flex-direction: column;
		align-items: center;
	
		h3{
			padding: 30px 0 20px 0;
			margin: 0;
			font-size: 2em;
		}
	
		.formInputs{
			display: flex;
			justify-content: center;
			width: 100%;	
			gap: 20px;	
	
			label {
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
			}
		
			input{
				margin-top: 3px;
				display: block;
				text-align: center;
				border: solid 1.5px $ligther;
				border-radius: 3px;
				padding: 5px 10px;
				width: 100%;
			}
		}
	
		button {
			margin-top: 20px;
			border: none;
			border-radius: 3px;
			background: $ligther;
			color: $font-main;
			padding: 5px 10px;
	
		}
		
		button:hover {
			transition: .2s;
			transform: scale(1.1);
			background: #252525;
		}
	}

	.contactSection {
		display: flex;
		flex-direction: column;
		align-items: space-around;
		width: 85%;

		h3 {
			text-align: center;
			padding: 50px 0 20px 0;
			font-size: 2em;
		}
		
		.itemContainer{
			display: flex;

			.contactItem {
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;

				img {
					width: 150px;
					height: 150px;
					margin-top: 10px;
				}

				a {
					text-decoration: none;
					color: #000;
					font-size: 1.1em;
					padding-top: 10px;

					&:hover{
						text-decoration: underline;
					}
				}
			}
			
		}		
	}
}

footer {
	background-color: $ligther;
	width: 100%;	
	margin-top: auto;
	height: 40px;

	p {
		color: $font-main;
		text-align: center;
		line-height: 40px;

		a {
			color: #cccccc;
			text-decoration: none;	
		}
	}
}



/* Barra de Redes Sociales */
.socialBar {
	position: fixed;
	right: 0; 
	top: 35%;
	font-size: 1.5em;
	display: flex;
	flex-direction: column;

	.icon{
		text-decoration: none;
		color: $font-main;
		padding: 10px;
		display: flex;
		justify-content: center;
		transition: all .2s ease;
		background: $ligther;

	}	
	
	:first-child{
		border-radius: 3px 0 0 0;
	}
	:last-child{
		border-radius: 0 0 0 3px;
	}
	
	.icon-facebook:hover {
		background: #2e406e;
		transform: scale(1.1);
		border-radius: 3px 0 0 3px;
	}

	.icon-twitter:hover {
		background: #339dc5;
		transform: scale(1.1);
		border-radius: 3px 0 0 3px;
	}

	.icon-instagram:hover {
		background: #833AB4;
		transform: scale(1.1);
		border-radius: 3px 0 0 3px;
	}

	.icon-mail2:hover {
		background: #E1306C;
		transform: scale(1.1);
		border-radius: 3px 0 0 3px;
	}
}

/* Login */
.logContainer {
	margin: auto;
    background-color: $background;
    display: flex;
    align-items:center;
    flex-direction: column;
    width: 400px;
    height: auto;
    padding: 20px;
    border-radius: 3px;
	box-shadow: 0px 0px 30px 10px $ligther;

	.form_container {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		padding: 3% 0;
	}
	
	h3 {
		text-align: center;
		font-size: 2em;
		font-weight: 500;
		color: #3E2C41;
	}
	
	.form_inputs {
		display: flex;
		flex-direction: column;
		margin: 4% 0;
		width: 90%;
		padding: 0 1%;
		
		input  {
			padding: 5% 7%;
			width: 100%;
			font-size: 1em;
			border: solid 1px $ligther;
			border-radius: 3px;
			margin-bottom: 7.5px;
		}
		
		input#pass {
				margin-top: 7.5px;
			}
	}
	
	
	button {
			background-color: $ligther;
			font-size: 1em;
			font-weight: bolder;
			color: #EEEEEE;
			border-radius: 3px;
			border: none;
			padding: 5%;
			cursor: pointer;
			
			&:hover {
				transform: scale(1.1);
				background: #535353;
				transition: .2s ease;
			}
		}
	
	.recovery_pass {
		margin-top: 15px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
		a {
			text-decoration: none;
			color: $ligther;
			margin: 7px 0;

			&:hover {
				text-decoration: underline;
			}

			span {
				color: #000;
			}
		}
}

/* MediaQueries */
@media  screen and (max-width: 1050px) {

	header{
		.navigation{
			width: 70%;
		}
	}

	.contenidoContainer{
		width: 90%;
	}
}

@media screen and (max-width: 900px){
	.contenidoContainer {
		width: 95%;
	}
}

@media screen and (max-width: 792px) {
	.contenidoContainer {
		width: 100%;
	}
	
	header {
		padding: 0;
		line-height: 768px;

		.navigation{
			display: none;
		}
	}

	.socialBar{
		display: none;
	}
}

