@import url("https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,800;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
}

/* variables */
.body {
  background: #cccccc;
}

.webContainer {
  width: 80%;
  margin: auto;
  font-family: "Open Sans", serif;
  -webkit-box-shadow: 0px 0px 30px 10px #383838;
          box-shadow: 0px 0px 30px 10px #383838;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #383838;
  padding: 0 0 1% 0;
}

header .titleLogo {
  font-size: 2.5em;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-text-stroke: 1.5px #000;
  font-family: 'Sigmar One', cursive;
  -webkit-transition: .4s;
  transition: .4s;
}

header .titleLogo:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .4s;
  transition: .4s;
}

header .titleLogo a {
  color: #ffffff;
  text-decoration: none;
}

header .titleLogo span {
  color: #7994ad;
}

header .titleLogo:hover span {
  color: #75AADB;
  -webkit-transition: .4s;
  transition: .4s;
}

header .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  height: 50px;
}

header .navigation .buscador {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 90%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

header .navigation .buscador input {
  height: 90%;
  width: 85%;
  border: none;
  border-radius: 10px 0 0 10px;
  padding-left: 5%;
  color: #414040;
  font-size: 1em;
}

header .navigation .buscador .iconSearch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90%;
  width: 15%;
  background-color: #ffffff;
  color: #383838;
  font-size: 1.2em;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

header .navigation .buscador .iconSearch:hover {
  font-size: 1.15em;
  -webkit-transition: ease .4s;
  transition: ease .4s;
}

header .navigation .navList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  height: 70%;
  width: 50%;
}

header .navigation .navList ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

header .navigation .navList ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1em;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
  border-radius: 10px;
}

header .navigation .navList ul li a:hover {
  background-color: #535353;
  -webkit-transition: ease .4s;
  transition: ease .4s;
}

header .titleLogo:hover .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carouselContainer img {
  height: calc(100vh - 114.88px);
}

.carouselContainer .imgDesc {
  position: absolute;
  color: #ffffff;
  top: 30px;
  left: 40px;
}

.galeryPopulares {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /*     justify-content: center;
 */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.galeryPopulares .titlePop {
  width: 100%;
  text-align: center;
  margin: 40px 0;
}

.galeryPopulares .cardsPop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  gap: 15px;
}

.galeryPopulares .cardsImg {
  width: 23%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.galeryPopulares .cardsImg img {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */